<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" placeholder="peers" id="peers">
    <button id="create-session">Create Session</button>
    <button id="add-peer">Add peer to the session</button>
    <script type="module" src="/js/test_bundle.js"></script>
</body>

</html>